# History files
.Rhistory
# Example code in package build process
*-Ex.R
# Rstudio stuff and Winedt hallØj
.Rproj.user
.Rhistory
.RData
.Rbuildignore
*.Rproj
*.prj
#
# backups
#
*.bak
.gitignore-bak
#
# roxygened files
#
NAMESPACE
# maybe include that later again
*.Rd
#!*-package.Rd
#
# all figures, testkram und anderes
#
testing/*
maintainance/*
#
# documentation aux files
#
inst/*
!inst/*.Rnw
!inst/doc/*
#
# texfiles
#
*.aux
*.bak
*.synctex*
*.bbl
*.log
*.blg
Sweave.sty
*.tex
/*.pdf
#
# compiled stuff
#
*.o
*.dll
